Source: nitrux-gtk-theme
Section: gnome
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13), inkscape, sassc
Standards-Version: 4.7.0
Homepage: https://github.com/Nitrux/nitrux-gtk-theme

Package: nitrux-gtk-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK Themes used in Nitrux
 GTK themes to integrate GTK software with
 NX Desktop.
